doctype html
html
  head
    title= "Accounting App"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="sidenav")
      a(href="/") Home
      a(href="/account") Add Account
      a(href="/transaction") Make Transactions
      a(href="/show/transactions") Show Transactions


  block content
